/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docs/~$oject-overview.docx
docs/srs-document/~WRL0003.tmp
docs/srs-document/~$s-document v4.0.docx
/docs/.$assign task to employee activity diagram.drawio.dtmp
